:root {
    --header-footer-background-color: rgb(8, 145, 178);
    
    --about-card-image-height-width: 700px;
    --box-shadow: 0 0 15px rgb(0 0 0 / 0.38);
    --box-shadow-light: 0 0 20px rgb(0 0 0 / 0.15);

    --github-icon: url("../images/github.svg");
    --linked-in-icon: url("../images/linked-in.svg");
    --x-social-icon: url("../images/x-social.svg");
    --open-in-new-icon: url("../images/open-in-new.svg");
    --phone-icon: url("../images/phone.svg");
    --email-icon: url("../images/email.svg");
}

body {
    padding: 0;
    margin: 0;
}

header {
    position: relative;
    margin-bottom: 100px;
    /* filter: drop-shadow(0 0 15px gray); */ /* TODO: See if there's a way to make this work */
}

header::before {
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 100%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: var(--header-footer-background-color);
}

.about-card {
    display: flex;
    align-items: center;

    padding: 100px;
}

.about-card .image {
    width: var(--about-card-image-height-width);
    position: relative;
    box-shadow: var(--box-shadow-light);
}

.about-card img {
    width: var(--about-card-image-height-width);
    height: var(--about-card-image-height-width);
    object-fit: cover;
}

.about-card h1 {
    position: absolute;
    bottom: 0;
    color: white;
    text-align: center;
    width: 100%;
    margin: 0 0 5px 0;
    font-size: 4rem;
}

.about-card .details {
    display: flex;
    flex-direction: column;

    min-height: calc(var(--about-card-image-height-width) - 150px);
    box-sizing: border-box;
    padding: 60px;
    box-shadow: var(--box-shadow);
    background-color: white;
}

.about-card .details h2,
main section h2,
footer h2 {
    font-size: 3rem;
    margin: 0 0 30px 0;
}

.about-card .details .description {
    flex: 1;
    
    font-size: 2rem;
}

.about-card .details .button-list {
    display: flex;
    justify-content: right;
    gap: 25px;
}

main,
footer {
    padding: 75px;
}

main section h2 {
    margin-bottom: 15px;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 75px;
}

.project-card {
    max-width: 550px;
    min-height: 650px;
    box-shadow: var(--box-shadow);
}

.project-card .image {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 400px;
}

.project-card:first-child .image {
    background-color: rgb(158, 28, 28);
}

.project-card:nth-child(2) .image {
    background-color: rgb(124, 117, 202);
}

.project-card:nth-child(3) .image {
    background-color: rgb(94, 143, 77);
}

.project-card:nth-child(4) .image {
    background-color: rgb(195, 99, 180);
}

.project-card:nth-child(5) .image {
    background-color: rgb(216, 143, 57);
}

.project-card:last-child .image {
    background-color: rgb(75, 162, 210);
}

.image .placeholder-text {
    font-size: 4rem;
    color: white;
    text-align: center;
    padding: 20px;
}

.project-card .details {
    padding: 25px;
}

.project-card .details .header {
    display: flex;
    
    margin-bottom: 20px;
}

.project-card .details .header h3 {
    flex: 1;
    gap: 15px;

    font-size: 2rem;
    margin: 0;
}

.project-card .details .header .button-list {
    display: flex;
    align-items: center;
    gap: 15px;
}

.project-card .details .description {
    font-size: 1.5rem;
}

footer {
    background-color: var(--header-footer-background-color);
    color: white;
}

footer .button-list {
    display: flex;
    gap: 25px;
}

footer .content-block {
    font-size: 1.75rem;
    margin-bottom: 50px;
}

.icon-with-text {
    display: flex;
    gap: 10px;

    margin-bottom: 20px;
}

a {
    cursor: pointer;
}

.icon {
    border: none;
    box-sizing: border-box;
    height: 35px;
    width: 35px;
}

.icon.large {
    height: 50px;
    width: 50px;
}

.icon.github {
    background-image: var(--github-icon);
}

.icon.linked-in {
    background-image: var(--linked-in-icon);
}

.icon.x-social {
    background-image: var(--x-social-icon);
}

.icon.open-in-new {
    background-image: var(--open-in-new-icon);
}

.icon.phone {
    background-image: var(--phone-icon);
}

.icon.email {
    background-image: var(--email-icon);
}